# ====================================================================
# テキストエディタ設定
# ====================================================================
# 起点設定
root = false

[*.cs]
indent_style = tab;
indent_size  = 4;
